#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 176, 128);
    height: 100px;
  }
  
  header {
    color: white;
    font-size: x-large;
    font-weight: 600;
  }
  
  header {
    margin-left: 30px;
  }
  

  